<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kcat.org.findsamething">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageSelectNumPlayer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Image1Player"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Image1PlayerHard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Image2Player"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Image2PlayerHard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ShowScore"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity android:name=".StoryTellerActivity" />
        <activity android:name=".StoryEasyActivity"></activity>
    </application>

</manifest>